{% extends 'base.html.twig' %}

{% block title %}Évènements - SAÉ301{% endblock %}

{% block body %}
    <section id="search">
            <h1>Recherche</h1>

            <input type="text" name="mot_cle" id="mot_cle" placeholder="Entrer un mot-clé"></input>

            <div>
                <!-- <label for="date-debut">Du</label> -->
                <input type="date" name="date_debut" id="date_debut" value="01/01/2022"></input>
                <!-- <label for="date-fin">Au</label> -->
                <input type="date" name="date_fin" id="date_fin" value="01/01/2022"></input>
            </div>
            
            <!-- <div class="select-wrapper"> -->
            <label>Type d'évènements</label>
            <select id="genre" name="genre" placeholder="Type d'évènements" size="1">
                <option value="">Type d'évènements <i class="material-icons material-icons-rounded">expand_more</i></option>
                <option value="conference">Conférence</option>
                <option value="exposition">Exposition</option>
                <option value="spectacle">Spectacle</option>
                <option value="festival">Festival</option>
            </select>
            <!-- </div> -->

            <input type="submit" value="Rechercher" id="submit-recherche" class="bttn-primary" onclick="function_valider_recherche()">

    </section>
    <section id="main">
        <h1>Évènements</h1>
        <div id="events">
            {% include 'manifestations/render_manif.html.twig' %}
        </div>
    </section>
    <script>
        function function_recherche() {
            var path = "{{path('recherche_resultat')}}";
            console.log("go")
            $.ajax({
                type: 'POST',
                 data: {
                     'mot_cle' : $("#mot_cle").val(),
                     'genre' : $("#genre").val(),
                     'date_debut' : $("#date_debut").val()
                 },
                url: path,
                success: function(data) {
                    $('#events').html(data);
                    document.getElementById('events').scrollIntoView({
                        behavior: 'smooth'
                    })
                },
                error: function(data) {
                alert('Erreur lors de la recherche')
                }
            });
        };
        
        function function_valider_recherche() {
            if(document.getElementById("mot_cle").length > 0 || document.getElementById("genre").length > 0 || 
            document.getElementById("date_debut").length > 0 || document.getElementById("date_fin").length > 0){
                function_recherche();
            }
        }

        document.onkeypress = function (e) {
            if (e.key === 'Enter') {
                function_valider_recherche()
            }
        }
    </script>
    <script href="{{ asset('js/general.js') }}"></script>
{% endblock %}