{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <section id="main">
        <h1>Votre panier</h1>
        <div id="cart">
            <table>
                <thead>
                    <th colspan=2><h3>Évènement(s)</h3></th>
                    <th><h3>Quantité</h3></th>
                    <th><h3>Prix unitaire</h3></th>
                    <th><h3>Prix total</h3></th>
                </thead>
                <tbody id="zone">

                </tbody>
            </table>

            <div id="panier-mobile">
            
            </div>
            <h2><span>Total : </span><span id="total"> 0</span> €</h2>

        </div>
        
        <div id="bttn">
            <a href="{{ path('app_accueil')}}" class="bttn-secondary" onclick="viderPanier()">Vider le panier</a>
            <input type="hidden" name="liste" id="liste">
            <a href="{{ path('panier_validation')}}" class="bttn-primary">Effectuer la commande</a>
        </div>

        <a id="back" href="{{ path('app_manifestations')}}">
            <div>
            <i class="material-symbols-rounded">arrow_circle_left</i>
            <h4>Retour au catalogue</h4>
            </div>
        </a>
    </section>
    <script src="{{ asset('js/panier.js') }}"></script>
{% endblock %}