{% extends 'base.html.twig' %}

{% block title %}Panier - SAÉ301{% endblock %}

{% block body %}
    <section id="main">
        <h1>Votre panier</h1>
        <div id="cart">
            <table>
                <thead>
                    <th colspan=2><h3>Évènement(s)</h3></th>
                    <th><h3>Quantité</h3></th>
                    <th><h3>Prix unitaire</h3></th>
                    <th><h3>Prix total</h3></th>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{{asset ('img/6.jpg.webp')}}" alt="event" width="135"></td>
                        <td><h3>Conférence musicale</h3><br><h4>6 décembre 2022 - 18h30</h4></td>
                        <td id="quantite">
                            <div><i class="material-icons">remove_circle</i><h4>2</h4><i class="material-icons">add_circle</i></div> 
                        </td>
                        <td><h4>0,00 €</h4></td>
                        <td><h4>0,00 €</h4></td>
                    </tr>
                    <tr>
                        <td><img src="{{asset ('img/32.jpg.webp')}}" alt="event" width="135"></td>
                        <td><h3>2TK7</h3><br><h4>29 novembre 2022 - 21h</h4></td>
                        <td id="quantite">
                            <div><i class="material-icons">remove_circle</i><h4>4</h4><i class="material-icons">add_circle</i></div> 
                        </td>
                        <td><h4>14,43 €</h4></td>
                        <td><h4>28,86 €</h4></td>
                    </tr>
                </tbody>
            </table>
            <h2><span>Total :</span> 28,86€</h2>

        </div>
        
        <div id="bttn">
            <a href="{{ path('app_accueil')}}" class="bttn-secondary">Annuler</a>
            <a href="#" class="bttn-primary">Effectuer la commande</a>
        </div>
    </section>
{% endblock %}
