{% extends 'base.html.twig' %}

{% block title %}Accueil Toulouse Culture{% endblock %}
{% block meta_description %}Bienvenu sur Toulouse Culture, un site de billetterie pour des évènements ayant lieu sur Toulouse et sa périphérie. Expositions, spectacles, festivals et conférences, vous pouvez tout réserver.{% endblock %}

{% block body %}
    <div id="overlay"></div>

    <section id="full-image"></section>

    <section id="main">
        <h1>Agenda</h1>
        <div id="events">
            {% include 'manifestations/render_manif.html.twig' %}
        </div>
        
        <a href="{{ path('app_manifestations')}}" class="bttn-primary">Voir tous les évènements</a>
    </section>
    <script src="{{ asset('js/general.js') }}"></script>

        {% if app.request.headers.get('referer') ends with path ('panier_validation') %}
            <script>
                document.cookie="panier=;expires=Thu, 01 Jan 1970;path=/;";
            </script>
        {% endif %}

{% endblock %}
