<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - SAÉ301</title>
        <link rel="icon" href="{{ asset('img/logo_mini.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
            <script src="https://kit.fontawesome.com/8b8e002e2c.js" crossorigin="anonymous"></script>
        {% endblock %}
        <meta name="description" content="{% block meta_description %}{% endblock %}">
    </head>
    <body>
    {% include "menu.html.twig" %}
        {% for message in app.flashes('success') %}
            <div id="alert_message" class="alert alert-success">
                <i class="material-symbols-rounded filled" id="alert-close">close</i>
                <h1>Votre commande est validée.</h1>
                <h2>Merci et à bientôt !</h2>
            </div> 
        {% endfor %}
        <div id="cookie-banner">
            <div>
                <i class="material-symbols-rounded">cookie</i>
                <h4>Ce site utilise des cookies.</h4>
            </div>
            <i class="material-symbols-rounded filled" id="cookie-close">cancel</i>
        </div>
        {% block body %}

        {% endblock %}
    {% include "footer.html.twig" %}
    </body>
</html>
