<footer>
    <div id="left">
        <h3>Retrouvez-nous sur les réseaux</h3>
        <div>
            <i class="fa-brands fa-facebook-f fa-fw"></i>
            <i class="fa-brands fa-twitter fa-fw"></i>
            <i class="fa-brands fa-instagram fa-fw"></i>
        </div>
        <a href="{{ path('app_mentions_legales')}}"><h3>Mentions légales</h3></a>
    </div>
    <div id="right">
        <div>
            <h3>Julie Van Houdenhove </h3><br> <h4>mmi21f15.mmi-troyes.fr</h4>
        </div>
        <div>
            <h3>Timothée Pluot </h3><br><h4>mmi21f13.mmi-troyes.fr</h4> 
        </div>
    </div>
</footer>