<footer>
    <div id="left">
        <a href="{{ path('app_mentions_legales')}}"><h3>Mentions légales</h3></a>
        <a href="{{ path('cgv')}}"><h3>Conditions générales de vente</h3></a>
        <div>
        <h3>Retrouvez-nous sur les réseaux</h3>
            <i class="fa-brands fa-facebook-f fa-fw"></i>
            <i class="fa-brands fa-twitter fa-fw"></i>
            <i class="fa-brands fa-instagram fa-fw"></i>
        </div>
    </div>
    <div id="right">
        <div>
            <h3>Julie Van Houdenhove </h3><br> <h4><a href="https://mmi21f15.mmi-troyes.fr/">mmi21f15.mmi-troyes.fr<a></h4>
        </div>
        <div>
            <h3>Timothée Pluot </h3><br><h4><a href="https://mmi21f13.mmi-troyes.fr/">mmi21f13.mmi-troyes.fr<a></h4> 
        </div>
    </div>
</footer>