{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<form action="{{path('recherche_resultat')}}" method="get">
    <div style="margin-top: 100px;">
        <label for="mot_cle">Recherche par mot-clé</label>
        <input type="text" name="mot_cle" id="mot_cle">
        <label for="date_debut">Du</label>
        <input type="date" name="date_debut" id="date_debut">
        <label for="date_fin">Au</label>
        <input type="date" name="date_fin" id="date_fin">
        <label for="genre">Type d'évènement</label>
        <select name="genre" id="genre">
            <option value="">Type d'évènement</option>
            <option value="conference">Conférence</option>
            <option value="exposition">Exposition</option>
            <option value="spectacle">Spectacle</option>
            <option value="festival">Festival</option>
        </select>
        <input type="submit" value="Rechercher" onclick="function_valider_recherche()">
    </div>
</form>
    <div id="resultat">

    </div>
    <script>
        // document.onkeypress = function (e) {
        //     if (e.key === 'Enter') {
        //         function_valider_recherche()
        //     }
        // }

        // function function_valider_recherche() {

        //     if(document.getElementById("mot_cle").length > 0 || document.getElementById("genre").length > 0 || 
        //     document.getElementById("date_debut").length > 0 || document.getElementById("date_fin").length > 0){
        //         function_recherche();
        //     }
        // }

        // function function_recherche() {
        //     {{path('recherche_resultat')}}
        //     // var path = "{{path('recherche_resultat')}}";
        //     // $.ajax({
        //     //     type: 'POST',
        //     //     data: $("form").serialize(),
        //     //     url: path,
        //     //     success: function(data) {
        //     //         $('#resultat').html(data);
        //     //         document.getElementById('resultat').scrollIntoView({
        //     //             behavior: 'smooth'
        //     //         })
        //     //     },
        //     //     error: function(data) {
        //     //     alert('Erreur lors de la recherche')
        //     //     }
        //     // });
        // };
    </script>
{% endblock %}
