{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}
    <section id="main">
        <h1>CONDITIONS GENERALES DE VENTE</h1>
        <h2 class="h2-cgv">1 - Conclusion du contrat</h2>
        <p>Toute commande de produits implique l'adhésion sans réserve aux présentes conditions générales de vente, complétées ou aménagées par nos conditions particulières,qui annulent toute clause contraire pouvant figurer dans les conditions d'achat, bons de commande, ou autres documents commerciaux.</p>
        <h2 class="h2-cgv">2 - Prix</h2>
        <p>Les marchandises sont facturées au tarif en vigueur au jour de la passation de la commande. Le tarif général est annexé aux présentes conditions. Les prix peuvent être révisés sous réserve d'une information préalable de 30 jours.</p>
        <h2 class="h2-cgv">3 - Livraison</h2>
        <p>La livraison est effectuée soit par la remise directe du produit à l'acquéreur, soit par avis de mise à disposition, soit par délivrance à un expéditeur ou à un transporteur dans les locaux du vendeur ou dans tous autres locaux désignés. La vérification des marchandises par l'acheteur doit être effectuée au moment de leur prise en charge. La livraison ne se fera jamais car ce n'est pas un vrai site.</p>
        <p>En cas d'avarie ou de manquant, de réclamations sur les vices apparents ou sur la non-conformité du produit livré, l'acheteur émettra des réserves claires et précises qu'il notifiera dans un délai de trois jours, suivant la date de livraison par écrit auprès du vendeur ou du transporteur. Il appartiendra à l'acheteur de fournir toute justification quant à la réalité des anomalies constatées.</p>
        <h2 class="h2-cgv">4 - Délais de livraison</h2>
        <p>Les délais de livraison sont indiqués en fonction des disponibilités d'approvisionnement. Il n'y a pas d'approvisionnement.</p>
        <h2 class="h2-cgv">5 - Retours</h2>
        <p>Aucun retour possible.</p>
        <h2 class="h2-cgv">6 - Garantie</h2>
        <p>Le vendeur apportera le plus grand soin à l'exécution de la commande et à la qualité des produits. En cas de défectuosité reconnue par le vendeur, l'obligation de ce dernier sera limitée au remplacement ou au remboursement des quantités défectueuses, sans autre indemnité.</p>
        <h2 class="h2-cgv">7 – Paiement</h2>
        <p>Aucun paiement n'est possible. Tout est gratuit.</p>
        <h2 class="h2-cgv">8 - Clause résolutoire</h2>
        <p>En cas de défaut de paiement, quarante huit heures après une mise en demeure restée infructueuse, la vente sera résiliée de plein droit par le vendeur qui pourra demander en référé la restitution des produits sans préjudice de tous autres dommages et intérêts. Les sommes restant dues pour d'autres livraisons deviendront immédiatement exigibles si le vendeur n'opte pas pour la résolution des commandes correspondantes.</p>
        <h2 class="h2-cgv">9 - Réserve de propriété</h2>
        <p>Les marchandises vendues restent la propriété du vendeur jusqu'au complet règlement de leur prix. Toutefois les risques afférents aux marchandises seront transférés à l'acheteur ou au transporteur, dès la remise physique des produits.</p>
        <h2 class="h2-cgv">10 - Données personnelles</h2>
        <p>Toutes les données personnelles enregistrées par ce site seront stockées pendant 6 mois puis supprimées. Elles sont stockées conformément aux directives nationales du RGPD. Vous pouvez contacter nos développeurs à tout moment pour les faire supprimer plus tôt.</p>
        <h2 class="h2-cgv">11 - Attribution de juridiction</h2>
        <p>Les présentes conditions annulent et remplacent les conditions précédemment applicables. Tout litige relatif aux présentes sera de la compétence du tribunal mixte de commerce de Troyes.</p>

    </section>


    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}