{% extends 'base.html.twig' %}

{% block title %}Mentions Legales{% endblock %}

{% block body %}
    <section id="main">
        <h1>Crédits et mentions légales</h1>
        <h2>Éditeur</h2>
        <p>Le site internet Toulouse Culture est un site non-officiel créé dans le cadre d'un projet académique de deux étudiants de l'IUT de Troyes.</p>
        <p><span>Développeurs du site :</span> Julie Van Houdenhove (développement back), Timothée Pluot (développement front)</p>
        <p><span>Hébergement</span><br>PulseHeberg<br>9, Boulevard de Strasbourg<br>83000 Toulon<br><a href="https://pulseheberg.com/fr/">https://pulseheberg.com</a></p>

        <h2>Droits d’auteurs</h2>
        <p>Les photographies, images, textes, séquences vidéo, animations et autres documents présents sur le site Internet Toulouse Culture sont la propriété de la Mairie de Toulouse et de Toulouse Métropole ou de tiers les ayant autorisées à les utiliser. </p>
        <p>Ces contenus sont protégés par la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. L'article L 122-4 du Code de la propriété intellectuelle indique à ce titre que : « Toute représentation ou reproduction intégrale ou partielle faite sans le consentement de l'auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art ou un procédé quelconque. »</p>
        <p>Les informations diffusées sur l'agenda sont en partie transmises par les associations et les organisateurs d'évènements.</p>

        <h2>Les logotypes et pictogrammes</h2>
        <p>Les logotypes, (plus couramment appelés logos) présents sur le site Internet Toulouse Culture sont protégés par le droit de la propriété intellectuelle. Ils ont été réalisés par Timothée Pluot. Toute reproduction ou modification (totale ou partielle) de ces éléments graphiques, sans autorisation préalable et écrite, est interdite.</p>
        <p>Les pictogrammes proviennent de <a href="https://fonts.google.com/icons">Google Fonts</a> et <a href="https://fontawesome.com/">Font Awesome</a>. Leur utilisation est libre de droit.</p>
        <a href="cgv.php" class="bttn-primary">CGV</a>
    </section>


    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}
