{% extends 'base.html.twig' %}

{% block title %}Lieux Culturels - SAÉ301{% endblock %}

{% block body %}
    <section id="main">
        <h1>Lieux Culturels</h1>
        <div id="events">
            {% for lieu in lieux %}
                <a href="{{ path('lieu_detail', {'lieu':lieu.id}) }}" class="lieu">
                    <div class="zoom">
                        <div class="image">
                            <img src="{{ asset ('img/' ~lieu.Image ) }}" alt="event">
                        </div>
                    </div>
                    <h2>{{ lieu.Nom }}</h2>
                    <div><i class="material-icons">pin_drop</i><h4>{{ lieu.Ville }}</h4></div>
                </a>
            {% endfor %}
        </div>
    </section>

        <script>
        liste = document.cookie //recupere le cookie  sous forme de chaine de caractere 
        if (liste.length!=0)montab = JSON.parse(liste) // transforme la chaine  en tableau JSON
        else montab =Array() // si il n'y a pas de tableau dans le cookie alors créer le tableau
        console.log(montab)

        panier = 0
        montab.forEach(element => {   panier += parseInt(element.quantite) });
        document.getElementById('panier').innerHTML = panier
    </script>
{% endblock %}