{% extends 'base.html.twig' %}

{% block title %}Lieux Culturels{% endblock %}

{% block body %}
    {% for lieu in lieux %}
    <a href="{{ path('lieu_detail', {'lieu':lieu.id}) }}">
        <h3>{{ lieu.Nom }}</h3>
        <img src=" {{ asset ('img/' ~lieu.Image ) }}" alt="">
    </a>
    {% endfor %}
{% endblock %}